*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #000;
  text-decoration: none;
}
ul{
  font-weight: 800;
}
.arrowRotate:hover{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.9 ease;
  -moz-transition: all 0.9 ease;
  transition: all 0.9 ease;
}

body,
li button,
button,
input,
li{
  font-family: 'Montserrat', sans-serif;
}

body button:focus{
  outline: none;
}
header{
  color: #fff;
  top:0;
}

.accountSign{
  text-align: center;
  width: 145px;
}

.headerBar{
  width: 100%;
  height: 49px;
  position: fixed;
  top:0;
  background-color: #fff;
  border-bottom: 1px solid #e5edef;
  z-index: 1;
}

.menuBar img {
  width: 90px;
  height: 30px;
}

.menuBar button,
.menuBar img {
  margin-top: 10px;
  margin-left: 15px;
}

.menuBar{
  display: flex;
  float: left;
}

.menu li {
  text-align: center;
  cursor: pointer;
}

.menu > li ul li{
  float: left;
}

.menu li ul{
  display: none;
  position: absolute;
  width: 145px;
}

.menu .botonInicio{
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #484848;
  padding: 5px 30px;
  float: right;
}
.botonInicio{
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #484848;

}

.menu li:hover > ul{
  display: block;
}
.menuBar2{
  display: flex;
  margin-right: 20px;
  float: right;
}
.menuBtn{
  visibility: hidden;

}
.menuBtn2 div{
  background-color: #e63838;
  border-radius: 100%;
  position: relative;
  width: 15px;
  height: 15px;
  top: -11px;
  right: 11px;
  color: #fff;
  padding: 3px;
  font-size: 7px;
  display: inline-block;

}
.navMenu{
  display: none;
}
.menuPrincipal{
  width: 145px;
}
.menuRestaurantes{
  position: sticky;
  left: 0;
  top:40px;
  width:250px;
  height: 700px;
  background-color: #fff;
  margin-top: 49px;
  padding-top: 20px;
}
.menuRestaurantes h2{
  font-size: 20px;
  display: block;
  padding: 11px 20px;
}
.menuRestaurantes li{
  display: block;
  padding: 11px 20px;
  font-size: 14px;
}
.menuRestaurantes a:hover{
  color: #636363;
}
.restauranteBox{
  width: 100%;
  max-width: 330px;
  height: 90px;
  display: inline-flex;
  border-radius: 5px;
  background-color: #fff;
  font-size: 13px;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restauranteBox p{
  font-size: 11px;
  color: #828282;
}

.restauranteBox img{
  width: 140px;
  border-radius: 5px;
  box-shadow: 0px 0px  3px rgba(0, 0, 0, 0.2);
}
.restauranteBox:hover{
  box-shadow: 0px 0px  3px rgba(220, 220, 220, 0.8);
}
.restauranteInfo{
  margin-left: 10px;
  margin-top: 10px;
}
.restauranteInfo span{
  display: block;
  position: relative;
  font-size: 11px;
}
.priceHour{
  display: inline-block;
}

.gridRestaurantes{
  padding-top: 70px;
  padding-left: 30px;
  width: calc(100% - 250px);
  height: auto;
  background-color: #f7f7f7;
}
.mainTitle h1{
  text-align: center;
  margin-top: 60px;
}

 .mainTitle h2{
   text-align: left;
   margin-top: 60px;
   margin-left: 50px;
 }

.newUser{
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
  color: #000;
}

.newUser:hover{
  text-decoration: underline;

}

header ul {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  height:50px;
  font-size: 12px;

}

header li{
  background: none;
  color: #000;
  border: none;
  padding: 17px;
}

header .mainMenu li{
  background: none;
  color: #000;
  border: none;
}

}
header li a:link,header li a:visited{
  color: #000;

}

.menu li:hover:not(.blackHoverRemove) a:not(.newUser) {
  color: #fff;
}
.menu li:hover:not(.blackHoverRemove) {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.8 ease;
  -moz-transition: all 0.8 ease;
  transition: all 0.8s ease;
}
.botonInicio:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.8 ease;
  -moz-transition: all 0.8 ease;
  transition: all 0.8s ease;
}
.forgotPassword:hover{
  text-decoration: underline;
}
.btn-signin:hover{
  background-color: #484848;
  -webkit-transition: all 0.8 ease;
  -moz-transition: all 0.8 ease;
  transition: all 0.8s ease;
}
.registerInputs .btn-fb:hover {
  background-color: #334f88;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.8 ease;
  -moz-transition: all 0.8 ease;
  transition: all 0.8s ease;
}
header li a:hover:not(.newUser) {
  color: #fff;
}

header button{
  border: none;
  font-size: 19px;
}

input::placeholder{
  color: #c3c3c3
  }

.slider{
  width: 100%;
}

.placeOrder input{
  width: 60%;
  height: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
  margin: 0;

}

.placeOrder button{
  display: inline-flex;
  font-size: 15px;
  background-color: #f1f1f1;
  padding: 16px;
  border: 1px solid #d6d6d6;
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  align-items: center;
  text-align: center;
  margin:0;
}

.placeOrder{
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  justify-content: center;

}

.orderSection{
  width: 100%;
  margin: 0 auto;
}
.precioProducto{
  font-size: 16px;
}
.nombreProducto{
  font-size: 12px;
  color: #7d7d7d;
}

.precioProducto, .nombreProducto{
  display: block;
  text-align: left;
}
.productoInfo{
  position: relative;
  margin: 0 auto;
  width: 180px;
  top: -25px;
}
.productoInfo p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.promos1,
.promos2{
  display: inline-flex;
  width: 100%;
  margin-top: 30px;
}

.promos1 article,
.promos2 article{;
  margin-left: 50px;
}

.promos1 img,
.promos2 img{
  border-radius: 10px;
  box-shadow: 0px 0px  3px rgba(0, 0, 0, 0.7);
  width: 95%;
}

.promosSuper{
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
}

.promosSuper img{
  display: block;
  margin: 0 auto;
  max-height: 140px;
}
.promosSuper img:hover + button,
.promosSuper button:hover{
  display: block;
  visibility: visible;
  transition: 0.7s;
  -webkit-transition: 0.7s;

}

.promosSuper button{
  position: relative;
  display: block;
  width: 170px;
  background-color: rgba(230, 55, 55);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  bottom: 35px;
  border: none;
  visibility: hidden;
  margin: 0 auto;
  box-shadow: 0px -15px  50px rgba(255, 255, 255);
}


.promosSuper article{
  width: 100%;
  margin: 0 auto;
  display: block;
}
.promosContainer article{
  margin: 0 auto;
}
.restaurantesGlobal{
    display: inline-flex;
    width: 100%;
}
.restaurantesList{
  display: block;
  width: 100%;
  justify-content: flex-start;
  margin-top: 20px;
}

.info{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.infoBox{
  display: inline-flex;
  margin-right: 40px;
}

.info .infoText{
  width: 250px;
  font-size: 14px;
}

.info .infoIcon{
  font-size: 40px;
  margin-right: 20px;
}

.info li{
  display: inline-flex;
}
.forgotPassword{
  float: right;
  font-size: 12px;
  color: #000;
  padding: 10px 0;
  margin: 0;
  position: relative;

}
.registerContainer{
  background: #f6f6f6;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerBlock{
  width: 100%;
  max-width: 410px;
  background-color: #fff;
  display: block;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px  4px rgba(240, 240, 240, 0.9);
}
.registerBlock .backHome{
  float: left;
  font-size: 12px;
  color: #000;
}
.registerBlock form input{
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  display: block;
  width: 100%;
  text-align: center;
}
.registerBlock .btn-fb{
  background-color: #4267b2;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  border: none;
}
.registerInputs{
  width: 80%;
  margin: 0 auto;
}
.registerInputs form{
  margin-top: 5px;
}
.registerInputs form button{
  background-color: #191919;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: none;
}
.registerTitle p, .registerTitle h5{
  margin-bottom: 13px;
}
.registerTitle h5{
  margin-top: 30px;
  font-size: 18px;
}
.registerTitle p{
  font-size: 12px;
}

.submenu{
  margin-left: -17px;
  margin-top: 17px;
  width: 145px;
  text-align: center;
}


.submenu input{
  padding: 8px;
  border-radius:5px;
  border: 1px solid #d6d6d6;
  width: 110px;
}

.submenu input, .placeOrder input:focus{
  outline:none;
}

.placeOrder button:hover:focus{
  outline:none;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.submenu button{
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  width: 110px;
  padding: 10px;
}
.submenu li{
  text-align: center;
  background-color: #fff;
  padding: 10px;
}

.submenu input::placeholder{
  text-align: center;
}

.lastCatItem{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.values{
  display: inline-flex;
  padding: 60px;
  color: #fff;
  font-size: 12px;
  background-color: #232323;
  border-radius: 10px;
}
.bigIcon{
  font-size: 50px;
}
.valueText{
  width: 180px;
  margin-right: 20px;
}
.gorditoValues{
  display: inline-flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}
.gorditoValues article{
  margin: 10px auto;
}
.slider,
.wrap,
.slide-content{
  margin:0;
  padding:0;
  width: 100%;
  height: 400px;
}

.wrap{
  position: absolute;
}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sliderPrincipal .slide1{background-image: url('../img/img1.jpg')}
#sliderPrincipal .slide2{background-image: url('../img/img2.jpg')}
#sliderPrincipal .slide3{background-image: url('../img/img3.jpg')}

.slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow{
  cursor: pointer;
  position: absolute;
  top: 220px;
  margin-top: 0px;
  width: 0;
  height: 0;
  color: #fff;
  font-size: 50px;
}
.arrow-left{
  border-width: 30px 40px 30px 0px;
  left: 0;
  margin-left: 30px;
}
.arrow-right{
  right: 0;
  margin-right: 30px;
}

footer{
  border-top: 1px solid #f7f7f7;
  text-align: center;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  height: 40px;
  font-size: 10px;
}
footer span{
  position: absolute;
  margin-top: 14px;
}
@media (max-width: 878px) {
  .menuBar2 {
    visibility: hidden;
  }

  .menuBtn{
    visibility: visible;
  }
  .navMenu{
    display:block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    color: #000;
    visibility: visible;
  }
  .navMenu li, .navMenu button{
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: none;
  }
  .navMenu button{
    font-size: 20px;
    background: none;
    border: none;
  }
.arrow-left, .arrow-right{
    visibility: hidden;
  }
.info{
  width: 80%;
  flex-wrap: wrap;
}
.infoBox{
  padding: 25px;
}
.promos1, .promos2{
  width: 80%;
  flex-wrap: wrap;
}
.promos1 img, .promos2 img{
  margin: 15px;
}
.promosSuper, .gorditoValues{
  flex-wrap: wrap;

}

}
